@model Asignacion2_Formulario.Models.ContactViewModel


@{
    ViewData["Title"] = "Home Page";
}



<style>
    body {
        background-color: #F0F4C3;
    }

    .box{
        border: 5px solid #212121;
        border-radius: 25px;
        background-color: #4CAF50;
        height: auto;
        width: 500px;
        padding: 50px;
        margin-top: 50px;
    }
    label{
        color: #F0F4C3;
    }

    button{
        width: 250px;
        margin-top: 10px;
    }
</style>

<h2>Agregar producto</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccesMessage"]
    </div>
}

<form asp-action="Submit" method="post">
    <div class="box">
        <div>
            <label>Nombre:</label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div>
            <label>Descripcion:</label>
            <input asp-for="Descripcion" class="form-control" />
        </div>
        <div>
            <label>Precio:</label>
            <input asp-for="Precio" class="form-control" />
        </div>
        <div>
            <label>Stock:</label>
            <input asp-for="Stock" class="form-control" />
        </div>
        <div align=center>
            <div>
                <button type="submit" class="btn btn-success" value="guardar">Guardar nuevo Producto</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success" value="Consultar">Consultar</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success" value="Eliminar">Eliminar</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success" value="Editar">Editar</button>
            </div>
        </div>
    </div>
    
</form>
<h3>Productos registrados</h3>
<!--table-striped-->
<table>
    <thead>
        <tr
                <th>Id</th>
                <th>Nombre</th
                    <th>Precio</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model.ProductosLista)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.Stock</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}